# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env

# Node
node_modules/
dist/

# Frontend environment
frontend/.env
frontend/.env.*
!frontend/.env.example

ais_cleaned_positions.csv
initialCSV.csv
*.tif
